/* styles.css */

.container {
  margin-top: 50px;
  text-align: center;
}

.image-container {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.uploaded-image {
  height: 27rem;
  width: 45%;
  box-shadow: 3px 3px 30px #ccc;
}
